page-tabs-controller {
    $colors : (
        primary: #d3d3d3
    );
    $tabs-ios-tab-text-color-active	: colors($colors, primary);
    $tabs-ios-tab-icon-color-active: colors($colors, primary);
    // selected tab
}
