<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home" id="tabsController-tab1" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Feed" tabIcon="paper" id="tabsController-tab2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Events" tabIcon="calendar" id="tabsController-tab3"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="person" id="tabsController-tab4"></ion-tab>
</ion-tabs>