<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
    <ion-title>
      Compose Comment
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="composeThread(tempPost)">Post</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div id="composeThread-markdown1" *ngIf="error" class="show-list-numbers-and-dots error-box">
    <p>{{error}}</p>
  </div>
  <form id="composeThread-form3" (ngSubmit)="composeThread(tempPost)">
    <ion-item id="composeThread-input9">
      <textarea #comment id="comment" type="text" class="comment" placeholder="Respond with?" name="comment" 
        [(ngModel)]="tempPost.text" autocomplete="on" autocorrect="on" (keyup)="resize()"></textarea>
    </ion-item>
  </form>
</ion-content>