<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
    <ion-title>
      Edit Profile
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="updateProfile()">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="profile-image">
          <img id="profilePicture" [src]="avatar" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <h6 class="profile-picture" col-12 (click)="photoMenu()">Change Profile Picture</h6>
    </ion-row>

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" name="name"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col col-2>
        <ion-label class="bio-label" >Bio</ion-label>
      </ion-col>
      <ion-col col-10>
        <textarea #bio id="bio" class="bio" autocomplete="on" autocorrect="on" placeholder="Tell everyone a little about yourself!"
          [(ngModel)]="user.bio" name="bio" rows="1" (keydown)="resize()" maxlength="150"> </textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>