<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      GreekMe
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="validRole" (click)="goToComposeBroadcast()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <img class="headerPicture" [src]="image" />
  </div>
  <ion-list>
    <post-row text-wrap *ngFor="let item of broadcastItems | iterable; let i = index; trackBy: trackByFn" class="chat-boxes"
     [post]="item.key" [user]="user" [userLikeItems]="userLikeItems" #PostRow></post-row>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>