<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      GreekMe
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="validRole" (click)="goToComposeBroadcast()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div #fixed ion-fixed class>
    <img style="display:block;width:100%;height:150px;margin-left:auto;margin-right:auto;" src="{{image}}" />
  </div>
</ion-header>
<ion-content>
  
  <!-- <ion-scroll> -->
    <ion-list style="margin-top:150px;">

      <ion-list-header>Today</ion-list-header>
      <ion-item text-wrap *ngFor="let item of (broadcastItems |  async); let i = index" [attr.id]="i" class="chat-boxes">
        
        <ion-avatar item-start>
          <img src="{{item.avatar_url}}">
        </ion-avatar>
        <h2>{{item.name }}</h2>
        <p>{{item.text}}</p>
        <ion-note item-end>{{item.date | amTimeAgo}}</ion-note>
        <ion-row class ="comments">
          <label (click)="itemSelected(item)">Comments</label>
          <ion-badge class="comment-badge">{{item.numOfComments}}</ion-badge>
          <ion-icon name="heart" isActive="false" (click)="doLike(item)"></ion-icon>
          <!-- <ion-icon name="heart" *ngIf="isLiked(item.$key)" (click)="doUnlike(item)"></ion-icon> -->
          <ion-badge class="comment-badge">{{item.numOfLikes}} </ion-badge>
        </ion-row>
      </ion-item>
    </ion-list>
</ion-content>
