page-greekme {
    .no-scroll {
        .scroll-content {
            overflow: hidden !important;
        }
        ion-list {
            overflow: auto;
        }
    }
    .hideHeart {
        display: none;
        visibility: hidden;
    }
    .showHeart {
        display: inline-block;
        visibility: visible;
    }
    // .ion-fixed {
    //     width: 100;
    // }
      
}
