<ion-header>
  <ion-navbar *ngIf="!editMode">
    <ion-title>
      Create Event
    </ion-title>
  </ion-navbar>
  <ion-navbar *ngIf="editMode">
    <ion-buttons start>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
    <ion-title>
      Edit Event
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="updateEvent()">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page11">
    <ion-list>
        <ion-item>
            <ion-label>Event Name</ion-label>
          <ion-input [(ngModel)]="event.name" autocomplete="on" autocorrect="on"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Location</ion-label>
          <ion-input [(ngModel)]="event.location" autocomplete="on" autocorrect="on"></ion-input>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="DDDD MMM DD YYYY" [(ngModel)]="event.date" min="2018" max="2020-12-31"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.date"></ion-datetime>
        </ion-item>
        
        <ion-item>
            <ion-label>Details</ion-label>
          <ion-textarea [(ngModel)]="event.info" autocomplete="on" autocorrect="on">
          </ion-textarea>
        </ion-item>
      <!--     
        <button ion-item>
          <ion-label>Repeat</ion-label>
          <ion-note item-end>Never</ion-note>
        </button>
      </ion-list>
    
      <ion-list>
        <button ion-item>
          <ion-label>Alert</ion-label>
          <ion-note item-end>None</ion-note>
        </button>-->
      </ion-list> 
    
        <button ion-button block style="margin-bottom: 10px" (click)="createEvent()" *ngIf="!editMode">Create Event!</button>
    </ion-content>