<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button *ngIf="isUser" ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{user.name}}
    </ion-title>
    <ion-buttons end>
      <button *ngIf="isUser" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="cog" outline></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="profile-image">
          <img id="profilePicture" src="{{user.avatar_url}}" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <h6 class="role">{{user.role}}</h6>
        <div>
          <p class="bio">
            {{user.bio}}
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-segment [(ngModel)]="profileContent">
        <ion-segment-button value="posts">
          Posts
        </ion-segment-button>
        <ion-segment-button value="eventsAttending">
          Events
        </ion-segment-button>
        <ion-segment-button value="photos">
          Photos
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    <div [ngSwitch]="profileContent">
      <div *ngSwitchCase="'posts'">
          <h4 *ngIf="!postItems$" class="emptyMessage">You have not posted yet</h4>
      <ion-list class="pepSwitcher">
        <broadcast-row text-wrap *ngFor="let item of (postItems$ |  async); let i = index" class="chat-boxes" [broadcast]="item"></broadcast-row>
      </ion-list>
      </div>
      <div *ngSwitchCase="'eventsAttending'">
          <h4 *ngIf="eventItems$ === null" class="emptyMessage">You are not attending any events</h4>
      <ion-list no-lines  class="pepSwitcher">
        <button ion-item text-wrap *ngFor="let item of eventItems$ |  async | orderBy: 'date'" (click)="goToEvent(item.key)">
          <h2>{{item.name}}</h2>
          <h3>Happening on: {{item.date | amDateFormat: 'LL'}}</h3>
        </button>
      </ion-list>
    </div>
      <h4 *ngSwitchCase="'photos'"  class="emptyMessage">There are no posted photos</h4>
    </div>
  </ion-grid>
</ion-content>