<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button *ngIf="isUser" ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{user.name}}
    </ion-title>
    <ion-buttons end>
      <button *ngIf="isUser" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="settings" outline></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="profile-image">
          <img id="profilePicture" [src]="avatar" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <h6 class="role">{{user.role}}</h6>
        <div>
          <p class="bio">
            {{user.bio}}
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-segment [(ngModel)]="profileContent">
        <ion-segment-button value="posts">
          Posts
        </ion-segment-button>
        <ion-segment-button value="eventsAttending">
          Events
        </ion-segment-button>
        <ion-segment-button value="photos">
          Photos
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    <div [ngSwitch]="profileContent">
      <div *ngSwitchCase="'posts'">
        <p *ngIf="postItems.size < 1" class="emptyMessage">
          You have not posted yet!
        </p>
        <ion-list class="pepSwitcher">
          <post-row text-wrap *ngFor="let item of postItems | iterable; let i = index; trackBy: trackByFn" class="chat-boxes" [post]="item.key"
            [user]="user" [userLikeItems]="userLikeItems"></post-row>
        </ion-list>
      </div>
      <div *ngSwitchCase="'eventsAttending'">
        <p *ngIf="eventItems.size < 1" class="emptyMessage">
          You are not attending any events yet!
        </p>

        <ion-list no-lines class="pepSwitcher">
          <button ion-item text-wrap *ngFor="let item of eventItems |  iterable" (click)="goToEvent(item.key.key)">
            <h2>{{item.key.name}}</h2>
            <h3>Happening on: {{item.key.date | amDateFormat: 'LL'}}</h3>
          </button>
        </ion-list>
      </div>
      <p *ngSwitchCase="'photos'" class="emptyMessage">There are no posted photos</p>
    </div>
  </ion-grid>
</ion-content>