<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Event Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="isCreator" (click)="editEvent()" id="edit-event">
        <ion-icon name="settings" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="eventInfo">
      <ion-segment-button value="details" id="event-details">
        Details
      </ion-segment-button>
      <ion-segment-button value="attendingList" id="event-attendance">
        Who's Going?
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="eventInfo">
    <ion-list *ngSwitchCase="'details'">
      <h2 id="event-name">{{ anEvent?.name }}</h2>
      <p id="event-occurence">{{repeatLines[anEvent?.repeat]}} on {{anEvent?.date}}</p>
      <p id="event-location">At {{ anEvent?.location }}</p>
      <p id="event-creator">Made by: {{ anEvent?.creator }}
        <hr/>
        <h6> Details:</h6>
        <p id="event-info"> {{ anEvent?.info }}</p>
        <div>
          <label>RSVP:</label>
          <button ion-button small id="yesButton" [outline]="!attendingStatus" (click)="rsvpYes()" class="attendance-buttons">Going!</button>
          <button ion-button small id="noButton" [outline]="attendingStatus" (click)="rsvpNo()" class="attendance-buttons">Can't Go</button>
        </div>

    </ion-list>

    <ion-list no-lines *ngSwitchCase="'attendingList'">
      <ion-item *ngFor="let item of eventAttendingItems | iterable">
        <ion-avatar item-start>
          <img src="{{item.key.avatarUrl}}">
        </ion-avatar>
        <h4>{{item.key.name}}</h4>
      </ion-item>
    </ion-list>
  </div>
</ion-content>