<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title>Event Details</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="eventInfo">
      <ion-segment-button value="details">
        Details
      </ion-segment-button>
      <ion-segment-button value="attendingList">
        Who's Going?
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <!-- <h2>{{(event | async)?.name}}</h2> -->
  <div [ngSwitch]="eventInfo">
    <ion-list *ngSwitchCase="'details'">
      <h2>{{(event$ | async)?.name}}</h2>
      <p>On {{(event$ | async )?.date | amDateFormat: 'LL'}}</p>
      <p>At {{(event$ | async)?.location}}</p>
      <p>Made by: {{(event$ | async)?.creator}}
        <hr/>
        <h6> Details:</h6>
        <p> {{ (event$ | async)?.info}}</p>
        <div>
          <label>RSVP:</label>
          <button ion-button small id="yesButton" [outline]="!attendingStatus" (click)="rsvpYes()" style="margin-bottom:14px;">Going!</button>
          <button ion-button small id="noButton" [outline]="attendingStatus" (click)="rsvpNo()" style="margin-bottom:14px;">Can't Go</button>
          <button ion-button small *ngIf="isCreator" (click)="editEvent()">Edit Event</button>
        </div>

    </ion-list>

    <ion-list no-lines *ngSwitchCase="'attendingList'">
      <ion-item *ngFor="let item of attendingList$ |  async">
        <ion-avatar item-start>
          <img src="{{item.avatarUrl}}">
        </ion-avatar>
        <h4>{{item.name}}</h4>
      </ion-item>
    </ion-list>
  </div>
</ion-content>