<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Feed
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToComposeFeed()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content >
      <ion-list>
        <post-row text-wrap *ngFor="let item of messageItems | iterable; let i = index; trackBy: trackByFn" class="chat-boxes"
         [post]="item.key" [user]="user" [userLikeItems]="userLikeItems"></post-row>
      </ion-list>
  </ion-content>