<ion-item text-wrap class="chat-boxes">
  <ion-avatar (click)="goToProfile()" item-start>
    <img [src]="this.broadcast.avatar_url">
  </ion-avatar>
  <h2 style="margin-left: -1px;">{{this.broadcast.name}}</h2>
  <p class="width:auto" style="color:black">{{this.broadcast.text}}</p>
  <ion-note style="position: absolute;top:0;">{{this.broadcast.date | amTimeAgo}}</ion-note>
  <ion-row class="comments">
    <ion-col col-4>
      <label *ngIf="showComments" (click)="itemSelected(item)">Comments</label>
      <ion-badge *ngIf="this.broadcast.numOfComments > 0" class="comment-badge">{{this.broadcast.numOfComments}}</ion-badge>
    </ion-col>
    <ion-col col-4>
      <ion-icon *ngIf="showLikes" [name]="this.broadcast.iconName" (click)="doLike()" class="like-icon"></ion-icon>
      <ion-badge *ngIf="this.broadcast.numOfLikes > 0" class="like-badge">{{this.broadcast.numOfLikes}} </ion-badge>
    </ion-col>
  </ion-row>
</ion-item>