<ion-item text-wrap class="chat-boxes">
    <ion-avatar item-start style="align-self: flex-start;">
      <img [src]="this.broadcast.avatar_url">
    </ion-avatar>
    <h2>{{this.broadcast.name}}</h2>
    <p class="width:auto" style="color:black">{{this.broadcast.text}}</p>
    <ion-note style="position: absolute;top:0;">{{this.broadcast.date | amTimeAgo}}</ion-note>
    <ion-row class="comments">
      <label (click)="itemSelected(item)">Comments</label>
      <ion-badge class="comment-badge">{{this.broadcast.numOfComments}}</ion-badge>
      <ion-icon [name]="this.broadcast.iconName" (click)="doLike()"></ion-icon>
      <ion-badge class="comment-badge">{{this.broadcast.numOfLikes}} </ion-badge>
    </ion-row>
  </ion-item>