
.center-form{

  width:290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input-form {
  .ion-item-top{
    background-color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0);
    border-radius: 4px 4px 0px 0px;
  }
  .ion-item-middle {
    background-color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0);
  }
  .ion-item-bottom{
    background-color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0);
    border-radius: 0px 0px 4px 4px;
  }
   .button-enabled{
    opacity:0.8;
    background-color:goldenrod;
  }
  .button-disabled {
    opacity: 0.5;
    background-color:goldenrod;
  }

}
.error-box{
  padding:10px;
  // border: 1px solid #e42112;
  // background-color: #ef473a;
  border: 1px solid goldenrod;
  background-color:goldenrod;
  color: white;
  border-radius:4px;
  margin-bottom:10px;

  p{
    color:white;
    margin:0px;
  }
}
.top-container{
  height: calc(100%);
  overflow:scroll;
}
.top-bc{
  // top: calc(25%);
  height: calc(75%);
  overflow:scroll;
}

.bottom-form{
  position:absolute;
  bottom:0px;
  display:block;
  width:100%;
  background-color:white;
  button{
    margin:0px !important;
  }
}
#notification-button {            
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}

.notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}
.top-event-box {
  height:40%;
  width:100%;
  overflow:scroll;
}
.outer-content {
  ion-list:first-child {
    margin-top: 32px;
  }
  ion-list + ion-list {
    margin-top: 0;
  }
}
.list-avatar {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}
