<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal()" id="close-notifications">Close</button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 *ngIf="notifications.size < 1" class="emptyMessage" id="empty-notifications">
    You do not have any notifications.
  </h3>
  <ion-list>
    <post-row
      text-wrap
      *ngFor="let item of (notifications | iterable); let i = index; trackBy: trackByFn"
      class="chat-boxes"
      [post]="item.key"
      [user]="user"
      [deleteable]="true"
      [showComments]="false"
      [showLikes]="false"
      #PostRow
    ></post-row>
  </ion-list>
</ion-content>
