<ion-header>
  <ion-navbar>
    <ion-title>Thread</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToComposeThread()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      {{post.name}} said:
    </ion-card-header>
    <ion-card-content>
      {{post.text}}
    </ion-card-content>
  </ion-card>
  <ion-list>
    <post-row text-wrap *ngFor="let item of (postItems$ |  async); let i = index" class="chat-boxes" [post]="item"
      [showComments]="false" [showLikes]="false" [user]="user"></post-row>
  </ion-list>
</ion-content>