<ion-item text-wrap class="chat-boxes">
  <ion-avatar (click)="goToProfile()" item-start>
    <img [src]="avatar">
  </ion-avatar>
  <h2 style="margin-left: -1px;">{{this.post.name}}</h2>
  <p class="width:auto" style="color:black">{{this.post.text}}</p>
  <ion-note style="position: absolute;top:0;">{{this.post.date | amTimeAgo}}</ion-note>
  <ion-row class="comments">
    <ion-col col-4>
      <label *ngIf="showComments" (click)="itemSelected()">Comments</label>
      <ion-badge *ngIf="this.post.numOfComments > 0" class="comment-badge">{{this.post.numOfComments}}</ion-badge>
    </ion-col>
    <ion-col col-4>
      <ion-icon *ngIf="showLikes" [name]="this.post.iconName" (click)="doLike()" class="like-icon"></ion-icon>
      <ion-badge *ngIf="this.post.numOfLikes > 0" class="like-badge">{{this.post.numOfLikes}} </ion-badge>
    </ion-col>
  </ion-row>
</ion-item>