page-signup {
    .select-role {
    max-width: 70%;
    }
    .error {
        color:#000000;
    }
    .spacer {
        width:300px;
        height:47px;
    }
    .login-button {
        color:goldenrod;
    }
}
