<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="goToNotifications()">
        <ion-icon [name]="notificationsIcon" id="notifications"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Upcoming Events </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCreateEvent()" id="create-event">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <p *ngIf="eventItems.size < 1" class="emptyMessage" id="no-events-message">
    <b>You are not attending any events yet!</b>
  </p>
  <ion-list no-lines>
    <button
      ion-item
      text-wrap
      *ngFor="let item of (eventItems | iterable)"
      (click)="goToEvent(item.key.key)"
    >
      <h2>{{ item.key.name }}</h2>
      <h3>{{ item.key.date }}</h3>
    </button>
  </ion-list>
</ion-content>
