<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only>
            <ion-icon name="notifications-outline"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title>
      Upcoming Events
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCreateEvent()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content id="page4">
  <p *ngIf="eventItems.size < 1" class="emptyMessage">
    <b>You are not attending any events yet!</b>
  </p>
  <ion-list no-lines>
    <button ion-item text-wrap *ngFor="let item of eventItems | iterable" (click)="goToEvent(item.key.key)">
      <h2>{{ item.key.name }}</h2>
      <h3>{{ item.key.date }}</h3>
      </button>
  </ion-list>
</ion-content>
